main{
}

@font-face{
    font-family: Raleway;
    src: url(/assets/font/Raleway-Thin.ttf)
}
.imagem{
    position: fixed;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: auto;
    height: auto;
    font-size: 500%;
    text-align: center;
    vertical-align: center;
    opacity: 0.9;
    padding: 10px;
    height: 50%;
    top: 66px;
    left: 0;
    right: 0;
}

.imagem span{
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

header {
    position: fixed;
    overflow: hidden;
    background-color: #1e2f44;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.principal{
    position: absolute;
    background-color: whitesmoke;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 2;
    float: left;

    font-family: "Raleway";
    font-size: 22px;
    }

header .site-name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    
}

header .site-name a {
    color: #ffffff;
    vertical-align: sub;
}

nav {
    align-self: center;
}

nav .nav {
    display: flex;
}

nav .nav-item {
    margin: 0 10px;
    list-style: none;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #9fd3c7;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: #ffffff;
    background-color: #385170;
    box-shadow: 0 50vh 0 50vh #385170;
}