---
layout: default
---
<div class="principal">
    {% for post in site.posts %}
    <article>
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
        Publicado {{ post.date | date_to_string }}
        {{ post.excerpt }}
    </article>
    {% endfor %}
</div>