<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{page.title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' media='screen' href='/assets/css/main.css'>
    <!--<script src='main.js'></script>-->
</head>
<body>
    
    {% include header.html %}
    <main>        
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>